.container {
    display: flex;
    justify-content: center;
  
    .registerCard {
      margin-top: 200px;
      min-width: 400px;
      form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top:20px;
      }
    }
  }
  