@import '../../colors.scss';

.container {
  width: 60%;
  margin: 0 auto;
  margin-top: 40px;
  h1 {
    margin-bottom: 20px;
    color: $primary-color;
  }
  .noPosts{
    text-align: center;
  }
  .postCard {
    margin-top: 20px;
  }
 
}

.loading {
  margin: 300px auto 0 auto;
  text-align: center;
}
