@import '../../colors.scss';

.card {
  padding: "20px";
  margin-top: "20px";
  position: relative;
  .postContent {
    margin: 20px 0px 20px 10px;
    font-size: 18px;
  }
  .title{
    margin-bottom: 5px;
  }
  .lastModified {
    display:inline-block;
    font-size: 14px;
    font-weight: 300;
  }
  .loadMoreComments {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top:20px;
    button{
      background-color: $white;
      border-color: $secondary-color;
    }
  }
  .addComment {
    margin-top: 10px;

  }
  .commentActions {
    margin-top: 5px;
    display: flex;
    justify-content: right;
    gap: 25px;
  }
  .moreOptions {
    position: absolute;
    right: 24px;
    cursor: pointer;
  }
}
