@import "../../styles/colors.scss";

.card {
  background-color: rgba($neutral, 0.5);
  padding: 25px;
  border: none;
  border-bottom: 2px solid $neutral;
  border-radius: 0%;
  .authorName {
    text-decoration: none;
    font-weight: 500;
    color: $primary-color;
    &:hover {
      color: $accent-color;
    }
  }
  .createdDate {
    font-size: 14px;
    font-weight: 300;
  }
  .moreOptions {
    position: absolute;
    right: 50px;
    cursor: pointer;
  }
  .content {
    margin-left: 10px;
    margin-top: 10px;
  }
}
