@import '../../colors.scss';

.card{
    background-color: rgba($neutral, 0.5);
    padding:25px;
    border: none;
    border-bottom: 2px solid $neutral;
    border-radius: 0%;
    .moreOptions {
        position: absolute;
        right: 50px;
        cursor: pointer;
    }
    
}